$bg-status-default: #d8d8d8;
$bg-status-primary:#5e9cd3;
$bg-status-danger:#be0712;
$bg-status-success: #548039;

$bg-default: #f6f7fb;
$bg-primary:#f6f8fb;
$bg-danger:#fdf6f6;
$bg-success: #f5f8f5;

$text-default: #cececf;
$text-primary:#3276b3;
$text-danger:#c52c39;
$text-success: #568e31;

$color-default: #848485;
$color-primary:#2c416b;
$color-danger:#d02d24;
$color-success: #415b32;

$color-success-2: #5d9239;